<template>
	<q-layout ref="layout" class="flex justify-center full-height">
    <h1>{{ name }}</h1>
	</q-layout>
</template>

<script>
export default {
  data () {
    return {
    }
  }
}
</script>

<style>
</style>
