<template>
  <q-layout
    ref="layout"
    :view="'lHh Lpr lFf'"
    :left-breakpoint="996"
    :right-breakpoint="1200"
    :reveal="false"
  >
    <q-toolbar slot="header">
      <q-btn flat @click="$refs.layout.toggleLeft()">
        <q-icon name="menu" />
      </q-btn>
      <q-toolbar-title>
        WELCOME TO ASIK!
        <span slot="subtitle">Empowering your days</span>
      </q-toolbar-title>
			<q-btn flat style="margin-right: 15px">
        Admin

        <q-popover
          ref="popover2"
					:anchor="'bottom right'"
					:self="'top right'"
          >
          <q-list link style="min-width: 100px">
            <q-item>
              <q-item-main @click="doLogout" label="Logout" />
            </q-item>
          </q-list>
        </q-popover>
			</q-btn>

      <q-btn flat @click="$refs.layout.toggleRight()">
        <q-icon name="menu" />
      </q-btn>
    </q-toolbar>

    <q-scroll-area slot="left" style="width: 100%; height: 100%">
      <img alt="logo" src="~assets/logo.png"/>
			<q-search  v-model="search" color="none" style="margin-left:10px; margin-right:10px;" />
			<component v-for="(item, key) in menuItems" :key="key" :is="item"></component>
    </q-scroll-area>

    <q-scroll-area slot="right" style="width: 100%; height: 100%">
      <q-list-header>Right Panel</q-list-header>
      <div v-if="true" style="padding: 25px 16px 16px;">
        <p class="caption" v-for="n in 50">
          <em>Right Panel has intended scroll</em>
        </p>
      </div>
    </q-scroll-area>

    <div class="layout-padding">
			<q-transition enter="fadeIn" leave="fadeOut" mode="out-in" :duration="300">
				<router-view />
			</q-transition>
		</div>

    <q-toolbar slot="footer">
      <q-toolbar-title>
        Footer
      </q-toolbar-title>
    </q-toolbar>
  </q-layout>
</template>

<script>

import types from 'src/types'
import { mapActions } from 'vuex'
import menu from './Content.menu.js'

const kebabCase = string => string.replace(/([a-z])([A-Z])/g, '$1-$2').replace(/\s+/g, '-').toLowerCase()
let components = {}
let menuItems = []

menu.map(item => {
  components[item] = () => import(`./${item}/${item}.menu.vue`)
  menuItems.push(kebabCase(item))
})

export default {
  components,
  data () {
    return {
      menuItems,
      search: 'test'
    }
  },
  mounted () {
    this.$refs.layout.hideRight()
  },
  methods: {
    ...mapActions({
      doLogout: types.DO_LOGOUT
    })
  }
}
</script>

<style>
.layout-header, .layout-footer {
	box-shadow: none;
}
</style>
