<template>
  <div class="flex column items-center">
		<h1>Welcome to ASIK!</h1>
    <div class="flex row  justify-center">
			<q-card style="max-width:300px">
				<q-card-main class="stat flex column items-center">
					<q-icon name="face" class="icon-big"/>
					<h5>Asik! Users</h5>
					<h4>1,000,000</h4>
				</q-card-main>
			</q-card>
			<q-card style="max-width:300px">
				<q-card-main class="stat flex column items-center">
					<q-icon name="loyalty" class="icon-big"/>
					<h5>Asik! Deals</h5>
					<h4>1,000,000,000</h4>
				</q-card-main>
			</q-card>
			<q-card style="max-width:300px">
				<q-card-main class="stat flex column items-center">
					<q-icon name="insert emoticon" class="icon-big"/>
					<h5>Asik! Stikers</h5>
					<h4>500,000</h4>
				</q-card-main>
			</q-card>
			<q-card style="max-width:300px">
				<q-card-main class="stat flex column items-center">
					<q-icon name="attach money" class="icon-big"/>
					<h5>Asik! Payments</h5>
					<h4>1,500,000,000</h4>
				</q-card-main>
			</q-card>
		</div>
	</div>
</template>

<script>

export default {
  data () {
    return {
    }
  }
}
</script>

<style>

.icon-big {
	font-size:3rem;
}

.stat h4, .stat h5  {
	margin:0;
}

.stat h4 {
	font-weight: bold;
}

</style>
