<template>
	<q-side-link item to="/content/dashboard">
    <q-item-side icon="home" />
    <q-item-main label="Home" />
	</q-side-link>
</template>
<script>

export default {
  data () {
    return {}
  }
}
</script>
