<template>
	<q-collapsible icon="local convenience store" label="{{ name }}">
    <q-side-link item to="/content/{{ kebabCase name }}">
			<q-item-side icon="toc" />
			<q-item-main label="{{ name }}" />
		</q-side-link>
	</q-collapsible>
</template>

<script>

export default {
  data () {
    return {}
  }
}
</script>
