<template>
  <div class="{{ kebabCase name }}-edit">

    <q-card>
      <q-card-main>
				<q-btn flat @click="$router.replace(baseRoute + '/list')">Back to List</q-btn>
			</q-card-main>
      <q-card-main>
        <q-input stack-label="Text" v-model="doc.text" ></q-input>
			</q-card-main>
      <q-card-separator />
      <q-card-actions align="end">
				<q-btn color="primary" @click="saveDoc">Save</q-btn>
			</q-card-actions>
		</q-card>
  </div>
</template>

<script>

import { mapMutations, mapGetters, mapActions, mapState } from 'vuex'
import { Toast } from 'quasar'

const namespace = 'Content/{{ name }}'
const baseRoute = '/content/{{ kebabCase name }}'

export default {
  mounted () {
    this.getDoc()
  },
  data () {
    return {
      ...mapState(namespace, ['reload']),
      baseRoute,
      doc: {
        _id: '',
        text: ''
      }
    }
  },
  computed: {
    ...mapGetters(namespace, ['byId'])
  },
  methods: {
    ...mapMutations(namespace, ['setReload']),
    ...mapActions(namespace, ['create', 'update']),
    getDoc () {
      if (!this.$route.params.id) return
      let { text } = this.byId(this.$route.params.id)
      let _id = this.$route.params.id
      this.doc = { _id, text }
    },
    async saveDoc () {
      try {
        let data = Object.assign({}, this.doc)
        console.log(data)
        if (data._id) {
          let id = data._id
          await this.update({
            id,
            data
          })
        }
        else {
          delete data._id
          await this.create({
            data
          })
        }

        this.setReload(true)
        this.$router.push(this.$data.baseRoute + '/list')
      }
      catch (e) {
        Toast.create.negative({
          html: 'Your data not saved, process failed'
        })
      }
    }
  }

}
</script>

<style  scoped>

</style>
