<template>
  <div class="{{ kebabCase name }}-list">
    <q-card flat>
			<q-card-main>
				<q-btn @click="$router.push(baseRoute + '/edit')">New</q-btn>
			</q-card-main>
		</q-card>

    <x-data-table
      :config="dataTableConfig"
      :columns="columns"
      @refresh="refresh"
      ref="list">
      <template slot="selection" slot-scope="selection">
        <q-btn flat color="primary" @click="doEdit(selection)">
          <q-icon name="edit" />
        </q-btn>
        <q-btn flat color="primary" @click="doDelete(selection)">
          <q-icon name="delete" />
        </q-btn>
      </template>
    </x-data-table>
  </div>
</template>

<script>
import { Dialog } from 'quasar'
import XDataTable from '@/XDataTable'
import { dataTableConfig } from 'src/config'
import { mapState, mapActions } from 'vuex'

const namespace = 'Content/{{ name }}'
const baseRoute = '/content/{{ kebabCase name }}'

export default {
  computed: {
    ...mapState(namespace, ['reload'])
  },
  components: {
    'x-data-table': XDataTable(namespace)
  },
  mounted () {
    if (this.reload) {
      this.refresh()
    }
  },
  methods: {
    ...mapActions(namespace, ['destroy']),
    doDelete ({ rows }) {
      let selected
      [selected] = rows
      Dialog.create({
        title: 'Confirm',
        message: 'Do you want to delete this item?',
        buttons: [
          {
            label: 'No'
          },
          {
            label: 'Yes',
            handler: () => {
              this.destroy({ id: selected.data._id })
            }
          }
        ]
      })
    },
    doEdit ({ rows }) {
      let selected
      [selected] = rows
      this.$router.push(`${baseRoute}/edit/${selected.data._id}`)
    },
    async refresh (done) {
      await this.$refs.list.sendParams()
      if (done) done()
    }
  },

  data () {
    return {
      selection: [],
      namespace,
      dataTableConfig,
      baseRoute,
      columns: [{
        label: 'Text',
        field: 'text',
        filter: true,
        sort: true,
        type: 'string'
      }]
    }
  }
}
</script>
