<template>
  <div class="{{ kebabCase name }}">
    <h3>{{ name }}</h3>
		<q-transition enter="fadeIn" leave="fadeOut" mode="out-in" :duration="300">
      <router-view />
		</q-transition>
	</div>
</template>

<script>

export default {
  data () {
    return {

    }
  }
}
</script>

<style  scoped>

</style>
