<template>
	<q-layout ref="layout" class="flex justify-center full-height">
    <q-card inline class="login">
      <q-card-media>
        <img src="~assets/logo.png">
      </q-card-media>
      <q-card-title style="color: #007AFF;">
				Sign in to your account
			</q-card-title>
      <q-card-main>
        <small style="color: #8e8e93;">Please enter your name and password to log in. </small>
			</q-card-main>
      <q-card-separator />
      <q-card-main>
				<q-input v-model="email" stack-label="Email" />
				<q-input v-model="password" type="password" stack-label="Password" />
				<q-checkbox v-model="remember" label="Remember me" />
      </q-card-main>
      <q-card-main>
        <small>
					<a href="#">Forgot Password</a>
				</small>
			</q-card-main>
      <q-card-separator />
      <q-card-actions>
				{{ password }}
        <q-btn color="primary" @click="doLogin()">Login</q-btn>
      </q-card-actions>
    </q-card>
	</q-layout>
</template>

<script>
import axios from 'axios'
import types from 'src/types'

export default {
  data () {
    return {
      remember: false,
      email: '',
      password: ''
    }
  },
  methods: {
    doLogin () {
      const strategy = 'local'
      const { email, password } = this
      axios
        .post('/authentication', { email, password, strategy })
        .then(({data}) => {
          this.$store.dispatch(types.EXTRACT_TOKEN, data.accessToken, {root: true})
        })
        .catch(err => {
          // show login failed popup
          console.log('ERR', err)
        })
    }
  }
}
</script>

<style lang="stylus">
.login
  margin-top: 50px
  background-color: #FFF
</style>
